@import url("https://fonts.googleapis.com/css2?family=Lacquer&display=swap");
.header {
  display: block;
  padding-top: 2rem;
  //background image
  .header-image {
    top: 120px;
    z-index: -1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.267), rgba(46, 46, 46, 0)),
      url("../../assets/content-img/myImage.JPG");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;

    .header-text-container {
      text-align: center;
      color: white;
    }

    h1 {
      font-size: 34px;
      text-align: center;
      transform: scale(0.5);
      animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      word-spacing: 5px;
      letter-spacing: 4px;
      opacity: 0.9;
      font-weight: 500;
      font-family: "Montserrat", sans-serif;
      color: #fff;
      text-shadow: 0 0 20px;

      span {
        display: inline-block;
        opacity: 0;
        filter: blur(4px);
      }
      span:nth-child(1) {
        animation: fade-in 2.5s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }

      span:nth-child(2) {
        animation: fade-in 3s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }
    }
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes scale {
  100% {
    transform: scale(1.1);
  }
}

.icon-bar {
  position: fixed;
  top: 50%;
  left: 94%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  a {
    display: block;
    text-align: center;
    margin: 10px 0;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  img {
    width: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .icon-bar {
    left: 90% !important;
    z-index: 999;
  }
}
