$myFont: "Lato", "Montserrat", sans-serif;
$myFontSize: 18px;

body {
  margin: 0;
  font-family: $myFont;
  font-size: $myFontSize;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000 !important;
  color: #fff;

  width: 950px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
